[Unit]
Description=ansible-pull on boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until ping -c 1 -w 1 github.com; do sleep 1; done'
ExecStart=/usr/bin/ansible-pull -U https://github.com/sphr2k/ansible -d /var/run/ansible/basic

[Install]
WantedBy=multi-user.target
